@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-fire: var(--fire);
	--color-water: var(--water);
	--color-earth: var(--earth);
	--color-air: var(--air);
	--color-galactic: var(--galactic);
	--color-galactic-dark: var(--galactic-dark);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-mono: Space Mono, ui-monospace, monospace;
	--font-serif: Cinzel, ui-serif, serif;
	--radius: 0.5rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--color-shadow-color: var(--shadow-color);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

:root {
	--fire: oklch(0.6442 0.1431 32.3);
	--water: oklch(0.6553 0.0664 211.29);
	--earth: oklch(0.6198 0.0713 129.86);
	--air: oklch(0.7534 0.0333 251.2);
	--galactic: oklch(0.5881 0.2118 306.32);
	--galactic-dark: oklch(0.4875 0.2135 303.58);

	--background: oklch(0.9728 0.0054 95.0993);
	--foreground: oklch(0.2273 0.0038 286.0916);
	--card: #FFFFFF;
	--card-foreground: oklch(0.2273 0.0038 286.0916);
	--popover: #FFFFFF;
	--popover-foreground: oklch(0.2273 0.0038 286.0916);
	--primary: oklch(0.6501 0.0881 84.8629);
	--primary-foreground: oklch(1.0000 0 0);
	--secondary: oklch(0.9185 0.0096 93.5751);
	--secondary-foreground: oklch(0.2273 0.0038 286.0916);
	--muted: oklch(0.9185 0.0096 93.5751);
	--muted-foreground: oklch(0.5753 0.0121 286.0122);
	--accent: oklch(0.9485 0.0109 95.1664);
	--accent-foreground: oklch(0.6501 0.0881 84.8629);
	--destructive: oklch(0.5248 0.1491 23.7896);
	--destructive-foreground: #FFFFFF;
	--border: oklch(0.8883 0.0084 91.4908);
	--input: oklch(0.8883 0.0084 91.4908);
	--ring: oklch(0.6501 0.0881 84.8629);
	--chart-1: oklch(0.7838 0.0891 83.5770);
	--chart-2: oklch(0.7137 0.0192 261.3246);
	--chart-3: oklch(0.6180 0.0297 262.2749);
	--chart-4: oklch(0.6732 0.0761 69.3229);
	--chart-5: oklch(0.4461 0.0263 256.8018);
	--sidebar: oklch(0.9485 0.0109 95.1664);
	--sidebar-foreground: oklch(0.2273 0.0038 286.0916);
	--sidebar-primary: oklch(0.6501 0.0881 84.8629);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(0.9185 0.0096 93.5751);
	--sidebar-accent-foreground: oklch(0.2273 0.0038 286.0916);
	--sidebar-border: oklch(0.8883 0.0084 91.4908);
	--sidebar-ring: oklch(0.6501 0.0881 84.8629);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Cinzel, ui-serif, serif;
	--font-mono: Space Mono, ui-monospace, monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 12px;
	--shadow-spread: -2px;
	--shadow-opacity: 0.5;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.25);
	--shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.25);
	--shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 1px 2px -3px hsl(0 0% 0% / 0.50);
	--shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 1px 2px -3px hsl(0 0% 0% / 0.50);
	--shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 2px 4px -3px hsl(0 0% 0% / 0.50);
	--shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 4px 6px -3px hsl(0 0% 0% / 0.50);
	--shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 8px 10px -3px hsl(0 0% 0% / 0.50);
	--shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 1.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--fire: oklch(0.6442 0.1431 32.3);
	--water: oklch(0.6553 0.0664 211.29);
	--earth: oklch(0.6198 0.0713 129.86);
	--air: oklch(0.7534 0.0333 251.2);
	--galactic: oklch(0.5881 0.2118 306.32);
	--galactic-dark: oklch(0.4875 0.2135 303.58);

	--background: oklch(0.1342 0.0172 262.1660);
	--foreground: oklch(0.9337 0.0055 95.1027);
	--card: oklch(0.2354 0.0332 263.6226);
	--card-foreground: #F5F5F5;
	--popover: #2A2A2A;
	--popover-foreground: #F5F5F5;
	--primary: oklch(0.7838 0.0891 83.5770);
	--primary-foreground: oklch(0.1342 0.0172 262.1660);
	--secondary: oklch(0.2698 0.0356 265.6420);
	--secondary-foreground: oklch(0.9337 0.0055 95.1027);
	--muted: oklch(0.2698 0.0356 265.6420);
	--muted-foreground: oklch(0.7137 0.0192 261.3246);
	--accent: oklch(0.2698 0.0356 265.6420);
	--accent-foreground: oklch(0.7838 0.0891 83.5770);
	--destructive: oklch(0.3958 0.1331 25.7230);
	--destructive-foreground: oklch(0.9337 0.0055 95.1027);
	--border: oklch(0.2698 0.0356 265.6420);
	--input: oklch(0.2010 0.0278 264.9723);
	--ring: oklch(0.7838 0.0891 83.5770);
	--chart-1: oklch(0.7838 0.0891 83.5770);
	--chart-2: oklch(0.7137 0.0192 261.3246);
	--chart-3: oklch(0.6180 0.0297 262.2749);
	--chart-4: oklch(0.6732 0.0761 69.3229);
	--chart-5: oklch(0.4461 0.0263 256.8018);
	--sidebar: oklch(0.1542 0.0185 263.2324);
	--sidebar-foreground: oklch(0.9337 0.0055 95.1027);
	--sidebar-primary: oklch(0.7838 0.0891 83.5770);
	--sidebar-primary-foreground: oklch(0.1342 0.0172 262.1660);
	--sidebar-accent: oklch(0.2245 0.0326 267.9920);
	--sidebar-accent-foreground: oklch(0.7838 0.0891 83.5770);
	--sidebar-border: oklch(0.2698 0.0356 265.6420);
	--sidebar-ring: oklch(0.7838 0.0891 83.5770);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Cinzel, ui-serif, serif;
	--font-mono: Space Mono, ui-monospace, monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 12px;
	--shadow-spread: -2px;
	--shadow-opacity: 0.5;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.25);
	--shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.25);
	--shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 1px 2px -3px hsl(0 0% 0% / 0.50);
	--shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 1px 2px -3px hsl(0 0% 0% / 0.50);
	--shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 2px 4px -3px hsl(0 0% 0% / 0.50);
	--shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 4px 6px -3px hsl(0 0% 0% / 0.50);
	--shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.50), 0px 8px 10px -3px hsl(0 0% 0% / 0.50);
	--shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 1.25);
}


@layer base {
	body {
		letter-spacing: var(--tracking-normal);
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}

/* shadow-[0_0_25px_-5px_oklch(var(--primary)/0.4)] shadow-primary/40 */